<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label "Enter your email address:" %>
    <%= f.text_field :email %><br />
	<%= f.label "Choose carefully your password:" %>
    <%= f.password_field :password %><br />
	<%= f.label :password_confirmation, "Please, repeat your password:" %>
	<%= f.password_field :password_confirmation %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
