    <% provide(:title, @user.email) %>
    <div class="visit_card summary_part">
          <h1>
            <%= @user.email %>
          </h1>	
          <% if @info==nil %>
             <span> PERSONAL INFO NOT YED PROVIDED </span>
          <% else %>
             <span> name: <%= @info.name %> <%= @info.surname %> </span>
             <span> address: <%= @info.town %>, <%= @info.street %> </span>
          <% end %>
          
          <%= gravatar_for @user %>
    </div>
    <div class="clear">
      <%= render 'shared/stats' %>
    </div>
    
   
    <span>
    <%= render 'users/follow_form' if signed_in? %>  SLEDUJES?
    </span>