<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% provide(:title, @user.email) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
<div class="span8">
  <h3>User's showcase</h3>
  <%= render 'shared/showcase', collection: @showcase_items %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
