	<div class="showcase_controls">
		<% if current_user?(@temp_event.user) %>
				<%= link_to "x", @temp_event, method: :delete,
											 data: { confirm: "You sure?" },
											 title: "delete event" %>
		<% end %>
	</div>
   
	<div class="showcase_user">
	  <%= link_to @temp_event.user.email, @temp_event.user%>
	</div>
	<div class="showcase_body">
        <%= link_to gravatar_for(@temp_event.user), @temp_event.user %>created a new event:
		<% text = @temp_event.title + " on: "  + @temp_event.time.strftime("%d.%m.%Y")%> 
		<%= link_to text, @temp_event%>
		will attend
	</div>
	<div class="showcase_props">
		 <%= @temp_event.attendees.count %> attends
	</div>
    <div class="showcase_log">
		Posted <%= time_ago_in_words(@temp_event.created_at) %> ago.
	</div>
	