    <div class="showcase_controls">
        <% if current_user?(@temp_route.user) %>
            <%= link_to "x", @temp_route, method: :delete,
                                             alt: "delete",
                                             data: { confirm: "You sure?" },
                                             title: "delete route" %>
        <% end %>
    </div>
    <div class="showcase_user">
      <%= link_to @temp_route.user.email, @temp_route.user%>
    </div>
    <div class="showcase_body">
        <%= link_to gravatar_for(@temp_route.user), @temp_route.user %>
        <% text = "ROUTE: " + @temp_route.title+ " " + @temp_route.description %>
        <%= link_to text, @temp_route %>
    </div>
    <div class="showcase_props">
        <span class='half_horizontally'><%= @temp_route.wanters.count %> want to try</span>
        <span class='half_horizontally'><%= @temp_route.triers.count %> tried</span>
    </div>
    <div class="showcase_log">
        <span>Posted <%= time_ago_in_words(@temp_route.created_at) %> ago.</span>
    </div>
    
