<% @showcase_items.each do |item| %>
  <% if item.map != nil%>
	  <% temp_route = item %>
	  <li>
		<%= link_to gravatar_for(temp_route.user), temp_route.user %>
		<div class="user">
		  <%= link_to item.user.email, item.user%>
		</div>
		<% text = "ROUTE: " + item.title+ " " + item.description %>
		<%= link_to text, temp_route %>
		<span>Posted <%= time_ago_in_words(item.created_at) %> ago.</span>
		<% if current_user?(item.user) %>
		<%= link_to "delete", item, method: :delete,
										 data: { confirm: "You sure?" },
										 title: item.title %>
		<% end %>
	  </li>
	  <li>
		<%= temp_route.wanters.count %> persons WANT TO TRY
	  </li>
	  <li>
		<%= temp_route.triers.count %> persons have already TRIED the route
	  </li>
	  <br><br>
  <% else %>
	<b>XXXX</b>
  <% end %>
<% end %>