<% provide(:title, @event.title) %>
<% content_for :showcase do %>
    <div class="controls">
        <% if current_user.id == @event.user_id %>
            <%= link_to 'Update event information', edit_event_path(@event.id) %>
        <% end %>
    </div>
    <div class="detail_title">
        <span><%= @event.title %></span><%= render 'attend' %>
        <div class='clear'> </div>
    </div>
    <div class="detail_field">
        <span class="detail_head">Start of event:</span> <%= @event.time.strftime("%d.%m.%Y") %>
        at <%= @event.hour.strftime(" %H:%M") %>
    </div>
    <div class="detail_field">
        <span class="detail_head">Description:</span> <%= @event.description %>
    </div>
    <div class="detail_field">
        <span class="detail_head">Designated for:</span>
		<%= image_tag("ActivityTypesIcons/"+@activity.id.to_s+".png", :size => "36x36", :alt => @activity.title) %>
        <%= @activity.title %>
    </div><br>
    <div align="center">
        <%= render 'routes/routedetails' %>
    </div><br>
	<div class="detail_field">
        <span class="half_horizontally">
			<div><%= link_to @event.attendees.count, :controller => :users, :action => :attendees, :event_id => @event.id %> ATTENDEES</div>
		</span>
    </div>
    <div class="comment form">
        <%= render 'events/event_new_comment' %>
    </div>
    <div class="comment_stream">
        <%= render 'events/event_comments_stream' %>
    </div>
    <%= link_to 'Back', current_user %>
<% end %>
