<%= form_for(@route) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="new_route">
	<div class= "new_route_item"> <%= f.label "title" %><br />	</div>    
    <%= f.text_field :title %><br />
	<div class= "new_route_item"><%= f.label "description" %><br />	</div>  
    <%= f.text_area :description %><br />
	<div class= "new_route_item"><%= f.label "map" %><br />	</div>  
	<%= f.text_field :map %><br />
	<div class= "new_route_item">
		<ul>
		  <% @types.each do |type| %>
			  <li>
				<%= check_box_tag 'type_ids[]', type.id -%>
				<%= h type.title -%>
			  </li>
		  <% end %>
		</ul>
	</div>
	<div class= "new_route_item">
		<%= f.submit %>
	</div>
  </div>
  
<% end %>