<% content_for :javascripts do %>
        <script type="text/javascript">
        criterion = "<%= @route.criterion %>";
        canRemovePoints = false;
    </script>  
<% end %>
<div id="maps" class="panels">
    <div id="map" class="detail_field">
    <span class="detail_head">Here is a map of the route:</span><textarea id="gpx"><%= @route.map %></textarea>
    <div id="m" style="height:500px;"> mapa </div>
    </div>
</div>
<div id="info" class="panels">
    <div class="detail_field">
        <span class="detail_head">Title:</span> <%= @route.title %>
    </div>
    <div class="detail_field">
        <span class="detail_head">Description:</span> <%= @route.description %>
    </div>

    <div class="detail_field">
        <span class="detail_head">The route is designated for:</span> 
        <% @activities.each do |act| %> 
			<%= image_tag("ActivityTypesIcons/"+act.id.to_s+".png", :size => "36x36", :alt => act.title) %>
            <%= act.title %> <br>
        <% end %>
    </div>
</div>
