<% content_for :javascripts do %>
    <%= javascript_include_tag 'http://api4.mapy.cz/loader.js','demand/maps','demand/maps_geocode','demand/route_new' %>
<% end %>
<% content_for :showcase do %>
<div class="form">
    <h1>New route</h1>
	<span class="newroutehelp" title="Specify your route by clicking to the interactive map. You can zoom and move the map.
	If you activate the 'place picker' - by clicking on the button Turn On place picker - you can create your route. ">
		Need some help?
	</span>
    <div class="map_form">
        <%= form_tag({},:method=>:get, :remote=>true,"data-type" => :json,:id=>'getCoords') do %>
              <%= text_field_tag "query", "Address", 
			  :title => "If you want to add exact spot to your route map, you can use this field. When address is found, it will be added to your route automatically." %>
              <div class="find_address"><%= submit_tag "Find", :class => 'action_button' %></div>
        <% end %>
        <div id="control"><a href="" class="map_control" title="activates and deactivates the 'Place Picker'">Turn ON place picker</a></div>
        <div id="points" style="background-color:red;"></div>
        <div id="m" style="height:500px">mapa</div>
        <div>
            <select id="select_criterion">
                <option value="bike1">Bike on paths</option>
                <option value="bike3">Bike on roads</option>
                <option value="bike2">Bike on both</option>
                <option value="turist1">Tourist path</option>
            </select>
        </div>
        <a href="javascript:routeToGpx()" class="map_control" 
			title="Once you're finished with your route - use this button to export it to the text representation.">
			EXPORT MAP
		</a>
    </div>
    <%= render 'form' %>
</div>
<% end %>
