<% provide(:title, @route.title) %>
<% content_for :showcase do %>
	<div class="detail_title">
		<span><%= @route.title %></span><%= render 'routes/try_button' %>
		<div class='clear'> </div>
	</div>
    <%= render 'routedetails' %>
    <div class="detail_field">
        <span class="detail_head">The route is designated for:</span> 
        <% @activities.each do |act| %> 
			<%= image_tag("ActivityTypesIcons/"+act.id.to_s+".png", :size => "36x36", :alt => act.title) %>
            <%= act.title %> <br>
        <% end %>
    </div>

    <div class="detail_field">
        <span class="half_horizontally"><%= render 'want_try' %></span>
        <span class="half_horizontally"><%= render 'tried' %></span>
    </div>
    <div class="form">
        <%= render 'route_new_comment' %>
    </div>
    <div class="comment_stream">
        <%= render 'route_comments_stream' %>
    </div>
    <%= link_to 'Back', @user ,:class => "back_button", :title => 'Go back to your profile page' %>
<% end %>
