<% provide(:title, @route.title) %>
<% content_for :javascripts do %>
    <%= javascript_include_tag 'http://api4.mapy.cz/loader.js','demand/maps','demand/thumbs', 'demand/route_show' %>  
<% end %>
<% content_for :showcase do %>
    <div class="switch summary_part">
        <span class="half_horizontally">
            <span class="half_horizontally"><a href="#info">Info</a></span>
            <span class="half_horizontally"><a href="#maps">Map</a></span>
        </span>
        <span class="half_horizontally">
            <span class="half_horizontally"><a href="#gallery">Gallery</a></span>
            <span class="half_horizontally"><a href="#comments">Comments</a></span>
        </span>
    </div>
    <div class="wanna_try"><%= render 'routes/try_button' %>
	</div>
    
    <%= render 'routedetails' %>
    <div id="gallery" class="panels">
        <% if current_user.tried?(@route) %>
			<div class="form">
				<h2>Add a photo:</h2>		
				<%= form_for :file_upload, :html => {:multipart => true} do |f| %>
				  <%= hidden_field_tag :route_id, :value => @route.id %>
				  <%= hidden_field_tag :user_id, :value => @user.id %>
				  <%= f.file_field 'upload', :multiple => true%>
				  <%= f.submit "Upload" %>
				<% end %>			
			</div>
		<% end %>
		<h3>Photos by:</h3>
		<% @allgalerists.each do |gal| %> 
            <% photo = @thumbnails[gal.id] %>
            <div class="gallery_entry"> 
                    <%= link_to :controller => :routes, :action => :photogallery, :user_id => gal.id, :route_id => @route.id  do %> 
                       <div class="gallery_thumb"><%= image_tag('photogalleries/' + photo.id.to_s+ '/' + photo.image_file_name, :alt => photo.image_file_name) %></div>
                        <span><%= gal.email%></span>
                    <% end %>
            </div>
        <% end %>
            <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
    <div class="detail_field">
        <span class="half_horizontally"><%= render 'want_try' %></span>
        <span class="half_horizontally"><%= render 'tried' %></span>
    </div>
    <div id="comments" class="panels">
        <div class="form">
            <%= render 'route_new_comment' %>
        </div>
        <div class="comment_stream">
            <%= render 'route_comments_stream' %>
        </div>
    </div>
    <%= link_to 'Back', @user ,:class => "back_button", :title => 'Go back to your profile page' %>
<% end %>
