<% provide(:title, @route.title) %>
<% content_for :showcase do %>
<script type="text/javascript">
    var detailOn = false;
    $(window).load(function(){
     $('.photo_thumb').find('img').each(function(){
      var imgClass = (this.width/this.height > 1) ? 'wide' : 'tall';
      $(this).addClass(imgClass);
     });
     
    $('.photo_thumb a').click(function(ev){
        ev.preventDefault();
        var img = $(this).find('img');
        $('#photo_detail').html('');
        img.clone().appendTo('#photo_detail');
        $('#photo_detail').show();
        detailOn = true;
        var imgClass = (img.width/img.height > 1) ? 'wide' : 'tall';
        $('#photo_detail > img').addClass(imgClass);
        
     });
     $('#photo_detail').click(function(){
        $('#photo_detail').hide();
     });
     
    });
    $(document).ready(function(){
        $('.panels').hide();
        $('#maps').fadeIn();
        $('.switch a').click(function(){
            $('.panels').hide();
            $(this.hash).fadeIn();
        });
    });
</script>
    <div class="detail_title">
		<span><%= @route.title %></span><%= render 'routes/try_button' %>
		<div class='clear'> </div>
	</div>
    
    <div class="switch">
        <span class="half_horizontally"><a href="#maps">Mapa</a></span><span class="half_horizontally"><a href="#photos">Foto</a></span>
    </div>
    <div id="maps" class="panels">
        <%= render 'routedetails' %>
    </div>
    <div id="photos" class="panels">
        <% @route.assets.each do |img| %>
            <div class='photo_thumb'>
                <a href="<%= img.image%>"><img src="<%= img.image%>"/></a>
            </div>
        <% end %>
            <div class="clear"> </div>
    </div>
    <div class="detail_field">
        <span class="half_horizontally"><%= render 'want_try' %></span>
        <span class="half_horizontally"><%= render 'tried' %></span>
    </div>
    <div class="form">
        <%= render 'route_new_comment' %>
    </div>
    <div class="comment_stream">
        <%= render 'route_comments_stream' %>
    </div>
	
	<div class="photogalleries">
		<h3>Photos by:</h3>
		<% @allgalerists.each do |gal| %> 
            <%= link_to gal.email, :controller => :routes, :action => :photogallery,
				:user_id => gal.id, :route_id => @route.id %> 
			<br>
        <% end %>
	</div>
    <%= link_to 'Back', @user ,:class => "back_button", :title => 'Go back to your profile page' %>
<% end %>
