<%= form_for(@info) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    
    <%= f.label "name" %>
    <%= f.text_field :name %><br />
	<%= f.label "surname" %>
    <%= f.text_field :surname %><br />
	<%= f.label "street" %>
	<%= f.text_field :street %><br />
	<%= f.label "house number" %>
	<%= f.text_field :house_number %><br />
	<%= f.label "town" %>
	<%= f.text_field :town %><br />
	<%= f.label "bio", :title => 'Tell us anything interesting about yourself...' %>
	<%= f.text_area :bio, :title => 'Tell us anything interesting about yourself...'  %><br />
  </div>
  <div class = "gravatar_set">
	<a href = "http://gravatar.com/" target="_blank" class="gravatar_set" title = "Gravatar is an image that represents your existence in the eVia
		and other social networks.	Look at this page to learn everything about this service.">
		Change your profile picture - Gravatar:
	</a>
	<br><br>
  </div>
  <div class="actions">
    <%= f.submit "Submit new information", :class => 'action_button' %>
  </div>
<% end %>