<html>
  <head>
    <title>eVia</title>
	  <%= javascript_include_tag  'application', 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js' %>
	  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css', 'basic' %>
	  <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="main_content">
        <section id="summary">
            <% if content_for?(:summary) %>
              <%= yield(:summary) %>
            <% else %>
              <%= render "users/visit_card" %>
            <% end %>
            <%= render "layouts/menu" %>
        </section>
        <section id="showcase">
            <%= yield :showcase %>
        </section>
        <section id="more">
			<% flash.each do |key, value| %>										
			  <div class="alert alert-<%= key %>"><%= value %></div>			
		    <% end %>
            footer
        </section>
    </div>
  </body>
</html>