<html>
  <head>
    <title>eVia</title>
	  <%= javascript_include_tag  'application', 'http://code.jquery.com/jquery-1.8.3.js', 'http://code.jquery.com/ui/1.10.0/jquery-ui.js' %>
	  <%= stylesheet_link_tag 'http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css', 'basic' %>
	  <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="main_content">
        <section id="summary">
            <% if content_for?(:summary) %>
              <%= yield(:summary) %>
            <% else %>
              <%= render "users/visit_card" %>
            <% end %>
            <%= render "layouts/menu" %>
        </section>
        <section id="showcase">
            <%= yield :showcase %>
        </section>
        <section id="more">
			<% flash.each do |key, value| %>										
			  <div class="notice"><%= value %></div>			
		    <% end %>
            Authors of the system: <a href="https://github.com/jbotorek/evia_project">jbotorek</a> 
				and <a href="https://github.com/newohybat/">newohybat</a>
        </section>
    </div>
  </body>
</html>